nav a {
  color: #c1c1c1;
}

header .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 44px;
}

.container .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.white {
  color: white;
}

.bg-blue1 {
  background: #085a78;
}

.bg-blue2 {
  background: #074e68;
}

.footer {
  background: #333;
  padding: 24px 0 10px;
}

.tool {
  border: 1px solid black;
  border-radius: 5px;
  background: #ddd;
}

.tool h3 {
  margin: 5px;
}

.tool .desc {
  font-size: .75rem;
  margin-bottom: 5px;
}

.tool .link {
  margin-bottom: 5px;
}

.tool-group {
  border-bottom: 1px solid #bbb;
}

.tool .img-holder {
  border: 1px solid black;
  background: #eee;
  max-width: 328px;
  overflow: auto;
}

.bordered {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notes {
  list-style-type: none;
}

.notes span {
  color: #d10000;
  font-weight: bold;
  font-style: normal;
}

.notes li {
  font-style: italic;
  font-size: 16px;
}
