nav a {
  color: #c1c1c1;
}

header .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 44px;
}

.container .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.white {
  color: white;
}

.bg-blue1 {
  background: #085a78;;
}

.bg-blue2 {
  background: #074e68;
}

.footer {
  background: #333;
  padding: 24px 0 10px;
}
