<html>

<head>
<title>{% block title %}{% endblock %} - PMQuiz</title>
<link rel="stylesheet" href="static/foundation.min.css">
<link rel="stylesheet" href="static/styles.css">
{% block head %}
{% endblock %}
</head>

<body>

<!-- Entire Navbar Code -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><a href="{{ url_for('home') }}">Home</a></h1></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="{{ url_for('results') }}">Tools</a></li>
    </ul>
  </section>
</nav>

<header class="bg-blue1">
  <div class="row">
    <h1 class="white">{% block header %}{% endblock %}</h1>
    <h5 class="white">{% block subheader %}{% endblock %}</h5>
  </div>
</header>

<div class="container" id="content">
  {% block content %}{% endblock %}
</div>

<div class=footer>
  <div class="row white">
    Josh Samara © 2015
  </div>
</div>
</body>

</html>
