{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
Software Project Tool Quiz
{% endblock %}

{% block subheader %}
Find the correct tools for the job
{% endblock %}

{% block content %}
  <div class="row text-center">
    <h2>Just take me to the quiz.</h2>
    <a class="button" href="{{ url_for('quiz') }}">Let's Go</a>
  </div>
  <div class="row text-center">
    <h2>What is this?</h2>
    <h5 class="subheader">
      This is a quiz for people wanting to
      start a software project. There is a small questionnaire that
      will recommend tools to use on a project based on the user's answers.
    </h5>
  </div>
  <div class="row text-center">
    <h2>What is this for?</h2>
    <h5 class="subheader">
      This is for my IS4600 software project management class.
      <a href="http://is4600.weebly.com/">Check out the class site here.</a>
    </h5>
  </div>
  <div class="row text-center">
    <h2>Who are you?</h2>
    <h5 class="subheader">
      Josh Samara. I'm NEU graduate (assuming I pass this last class) with a major in Computer Science.
      <a href="https://github.com/joshsamara/">My github if you're interested.</a>
    </h5>
  </div>
{% endblock %}
