{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block header %}
Quiz Section
{% endblock %}

{% block subheader %}
Fill out this form for tool recommendations
{% endblock %}

{% block content %}

<div class="row text-ceneter">
  <h4 class="subheader">Fill out the following form for recommendations.</h4>
  <form action="{{ url_for('quiz') }}" method="post">
    <fieldset>
      {# Row 1 size, type, non-profit #}
      <div class="row">
        <div class="large-4 columns">
          <label>Team Size
            <select name="size">
              <option value="personal">Personal (1)</option>
              <option value="small">Small (< 10)</option>
              <option value="medium">Medium (10-100)</option>
              <option value="large">Large (1000+))</option>
            </select>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Team Members</label>
          <input name="eng" type="checkbox"><label>Engineers</label>
          <input name="pm" type="checkbox"><label>PMs</label>
          <input name="anls" type="checkbox"><label>Analysts</label>
        </div>
        <div class="large-4 columns">
          <label>NonProfit?</label>
          <input type="radio" name="open" value="yes"><label>Yes</label>
          <input type="radio" name="open" value="no" checked="true"><label>No</label>
        </div>
      </div>
      {# Row 2 budget, duration, multiple #}
      <div class="row">
        <div class="large-6 columns">
          <label>Software Budget (per person, per year)
            <select name="budget">
              <option value="none">None</option>
              <option value="small">Small (< $100)</option>
              <option value="med">Medium ($100-$1000)</option>
              <option value="large">Large ($1000+)</option>
            </select>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Estimated Duration
            <select name="duration">
              <option value="short">Short (< Month)</option>
              <option value="medium">Medium (Month-Year)</option>
              <option value="long">Long (Year+)</option>
              <option value="unlimited">Continuous (No End)</option>
            </select>
          </label>
        </div>
      </div>
      {# Row 3 source, requirements #}
      <div class="row">
        <div class="large-6 columns">
          <label>Source Control Hosting
            <select name="source">
              <option value="none">Not Needed</option>
              <option value="public">Public</option>
              <option value="private">Private via Provider</option>
              <option value="personal">Private via self-hosted</option>
            </select>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Documentation Requirements
            <select name="documentation">
              <option value="none">Not Needed</option>
              <option value="small">Limited (short, simple documentation)</option>
              <option value="large">Expansive (verbose, independent documentation tools)</option>
            </select>
          </label>
        </div>
      </div>
      {# Row 4 multiple, visualizations #}
      <div class="row">
        <div class="large-4 columns">
          <label>Are multiple management tools okay?</label>
          <input type="radio" name="multiple" value="yes" checked="true"><label>Yes</label>
          <input type="radio" name="multiple" value="no"><label>No</label>
        </div>
        <div class="large-4 columns">
          <label>Web Based Only?</label>
          <input type="radio" name="web-based" value="yes"><label>Yes</label>
          <input type="radio" name="web-based" value="no" checked="true"><label>No</label>
        </div>
        <div class="large-4 columns">
          <label>Continuous Integration
            <select name="ci">
              <option value="none">Not Needed</option>
              <option value="travis">Yes</option>
              <option value="jenkins">Yes and Heavily Customizable</option>
            </select>
          </label>
        </div>
      </div>
      {# Row 5 web-based, other #}
      <div class="row">
        <div class="large-6 columns">
          <label>Visualizations Needed?</label>
          <input name="wbs" type="checkbox"><label>WBS</label>
          <input name="task-list" type="checkbox"><label>Task List</label>
          <input name="task-board" type="checkbox"><label>Task Board</label>
          <input name="gantt" type="checkbox"><label>Gantt Chart</label>
        </div>
        <div class="large-6 columns">
          <label>Other Requirements</label>
          <input name="other-storage" type="checkbox"><label>Other File Storage/Sharing</label>
          <input name="text-editor" type="checkbox"><label>Text Editor</label>
          <input name="regex" type="checkbox"><label>Regex Translator</label>
          <input name="markdown" type="checkbox"><label>Markdown Translator</label>
        </div>
      </div>
      <input type="submit" class="button expand success">
    </fieldset>
  </form>
</div>
{% endblock %}
