{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block header %}
Quiz Section
{% endblock %}

{% block content %}

<div class="row text-ceneter">
  <h4 class="subheader">Fill out the following form for recommendations.</h4>
  <form action="{{ url_for('quiz') }}" method="post">
    <fieldset>
      {# Row 1 #}
      <div class="row">
        <div class="large-6 columns">
          <label>Team Size
            <input name="size" type="number" placeholder="Number of people on the team" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Team Members</label>
          <input name="eng" type="checkbox"><label>Engineers</label>
          <input name="pm" type="checkbox"><label>PMs</label>
          <input name="anls" type="checkbox"><label>Analysts</label>
        </div>
      </div>
      {# Row 2 #}
      <div class="row">
        <div class="large-4 columns">
          <label>Software Budget
            <select name="budget">
              <option value="none">None</option>
              <option value="small">Small (< $100)</option>
              <option value="med">Medium ($100-$1000)</option>
              <option value="large">Large ($1000+)</option>
            </select>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Estimated Duration
            <select name="duration">
              <option value="short">Short (< Month)</option>
              <option value="medium">Medium (Month-Year)</option>
              <option value="long">Long (Year+)</option>
              <option value="unlimited">Continuous (No End)</option>
            </select>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Multiple Projects?</label>
          <input type="radio" name="multiple" value="yes"><label>Yes</label>
          <input type="radio" name="multiple" value="no" checked="true"><label>No</label>
        </div>
      </div>
      {# Row 3 #}
      <div class="row">
        <div class="large-6 columns">
          <label>Source Control
            <select name="budget">
              <option value="none">Not Needed</option>
              <option value="public">Public</option>
              <option value="private">Private via Provider</option>
              <option value="personal">Private via self-hosted</option>
            </select>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Requirements Documentation
            <select name="documentation">
              <option value="none">Not Needed</option>
              <option value="small">Limited (short, simple documentation)</option>
              <option value="large">Expansive (verbose, developed documentation tools)</option>
            </select>
          </label>
        </div>
      </div>
      {# Row 4 #}
      <div class="row">
        <div class="large-6 columns">
          <label>Are multiple tools okay?</label>
          <input type="radio" name="tools" value="yes" checked="true"><label>Yes</label>
          <input type="radio" name="tools" value="no"><label>No</label>
        </div>
        <div class="large-6 columns">
          <label>Visualizations Needed?</label>
          <input name="wbs" type="checkbox"><label>WBS</label>
          <input name="task-list" type="checkbox"><label>Task List</label>
          <input name="task-board" type="checkbox"><label>Task Board</label>
          <input name="gantt" type="checkbox"><label>Gantt Chart</label>
        </div>
      </div>
      {# Row 5 #}
      <div class="row">
        <div class="large-6 columns">
          <label>Web Based Only?</label>
          <input type="radio" name="web-based" value="yes"><label>Yes</label>
          <input type="radio" name="web-based" value="no" checked="true"><label>No</label>
        </div>
        <div class="large-6 columns">
          <label>Other Requirements</label>
          <input name="other-storage" type="checkbox"><label>File Storage</label>
          <input name="text-editor" type="checkbox"><label>Text Editor</label>
          <input name="regex" type="checkbox"><label>Regex Translator</label>
        </div>
      </div>
      <input type="submit" class="button expand success">
    </fieldset>
  </form>
</div>
{% endblock %}
